*{
    background: #abcdef;
}
h1,h2,h3,h4,button{
    left:50%;
    text-align:center;
    color: #476890
}

button{
    margin-left:550px;
    margin-top:2px;
    background-color: #14B3C2;
    cursor:pointer;
    font-size: 15px;
    
}
.b{
    background-color: #14B3C2;
    cursor:pointer;
    font-size: 15px;
}