h1,h2,h3,h4,button{
    left:50%;
    text-align:center;
    color: #476890
}
*,.bg{
    background: #abcdef;
}
button{
    margin-left:45%;
    margin-top:2px;
    background-color: #14B3C2;
    cursor:pointer;
    font-size: 25px;
    
}
html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
  }
a{
    text-decoration:none;
    color:red;
}
.b{
    background-color: #14B3C2;
    cursor:pointer;
    font-size: 15px;
}