*{
    background: #abcdef;
}
html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
    background: #abcdef;
  }
h1,h2,h3,h4,button{
    left:50%;
    text-align:center;
    color: #476890
}