<style>
    body,div{
        background: #abcdef;
    }
</style>
<div>
<br><br><br>

<h2>Sarcasm Detection</h2>
<form method="POST"  (ngSubmit)="onSubmit()" >
<span style="color:#213786;font-size:20px;margin-left: 47%;">Enter your tweet:</span><br><br> 
<input type="text" name="sarc" [(ngModel)]="un" placeholder="Check if your tweet is sarcastic" style="width:50%;height:20%;text-align:center;background-color:#dbabb6;color:#150325;margin-left:25% " required>
<br><br>    <br>
<input type="submit" style="cursor:pointer;color:#46940f;width:30%;margin-left:34%;background-color: #fa6788;" >
</form>
<br><br><br>
<h4 id="disp">Was your tweet sarcastic?<br>{{outputsarc}}!</h4><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>